@import "../components/bootstrap/dist/css/bootstrap.min.css";
$fa-font-path:   "../components/font-awesome/fonts";
@import "../components/font-awesome/scss/font-awesome.scss";
body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;

  .loading {
    margin-top: 2em;
    color: #666;
  }

  .select-image {
    margin-top: 33px;
    text-align: center;
    position: relative;
    button {
      width: 16em;
    }
  }

}


@import "carousel";
