<div class="container">
  <h1>Imagey</h1>
  <form class="form-inline" data-ng-submit="pullImages()">
    <div class="form-group">
      <label class="sr-only" for="Url">Url</label>
      <input type="url" class="form-control" id="url" placeholder="Enter a URL" data-ng-model="url">
    </div>
    <input type="submit" class="btn btn-default" value="Load">
  </form>

  <div class="loading" ng-show="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div class="carousel-container"></div>
  <div class="select-image" ng-show="hasResults" ng-click="select()">
    <button class="btn btn-primary" data-ng-click="">Ok</button>
  </div>

  <div ng-show="noResults">No images found</div>
</div>
